@import '../../sass/index.scss';

.upcoming-movies--d2 {
  display: flex;
  margin-block: 10rem;

  &__container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }

  &__grid {
    max-width: 102.5rem;
    padding-inline: 2rem;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.4375rem;
  }

  &__card {

    .card__poster {
      width: 100%;
      height: auto;
    }

    .card__title {
      @include movie__title--2
    }
  }

  .loading {
    @include loading;
    margin-top: 20rem;
  }
}

@media (max-width:800px) {
  .upcoming-movies--d2 {

    &__grid {
      gap: 0.8rem;
    }

    &__card {

      .card__title {
        font-size: 0.8rem;
      }
    }
  }
}

// @media (max-width:375px) {
@media (max-width:500px) {
  .upcoming-movies--d2 {
    margin-block: 0;
    padding-top: 6rem;

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {

      .card__title {
        @include movie__title--1;
        padding-top: 0;
        margin-bottom: 0;
      }
    }

    .loading {
      @include loading;
      margin-top: 15rem !important;
      margin-bottom: 50rem !important;
    }
  }
}